*{
	box-sizing: border-box;
}

body{
	background-color: #eee;
}

.container{
	max-width: 480px;
	height: 800px;
	margin: auto;
	background-color: #fff;
	padding: 10px;
}

.accordion-body button.hitung-luas-persegi-panjang {
	width: 100%;
}

.menu{
	width: 100%;
}